@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: black;
    border-bottom: 1px solid white;
    padding: 1rem;
    font-size: 1rem;
  }
  
  nav .brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav .nav-items a {
    margin: 0 1rem;
  }

  main{
    width: 60%;
    height: 40vh;
    margin: 80px auto;
    padding: 20px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }
  section{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  input{
    width: 80%;
    padding: 8px 4px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  button{
    width: 80%;
    padding: 10px 50px;
    background-color: black;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    color: aliceblue;
  }
  h2{
    font-size: 30px;
    margin: 20px 0px;
    font-weight: 400;
    letter-spacing: 20px;
  }
  #sm-items{
    display: none;
  }
  #small-menu{
    display: none;
  }
  
  /* sm */
  @media (max-width:640px) {
    main{
      width: 90%;
      margin: 60px auto;
    }
    input{
      width: 100%;
    }
  
    #small-menu{
      display: block;
      border-radius: 10px;
    }
    .nav-items{
      display: none;
    }
    #sm-items{
      display: none;
      padding: 30px 40px;
      gap: 8px;
      flex-direction: column;
      position: absolute;
      right: 0px;
      background-color: black;
      top: 80px;
    }
  }
   /* md */
   @media (max-width:768px) {

    main{
      width: 90%;
      margin: 60px auto;
    }
    input{
      width: 100%;
    }
   }
    /* lg */
  @media (max-width:1024px) {
    main{
      flex-direction: column;
    }
    input{
      width: 100%;
    }
    button{
      width: 100%;
    }
    section{
      width: 80%;
    }
  }
   /* xl */
   /* @media (max-width:1280px) {} */